body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #F55A5A;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.japanicon {
  width: 24px;
}

/* card styling */
.card {
  display: flex;
  width: 80%;
  height: 400px;
  margin-bottom: 32px;
  margin-left: 24px;
  margin-right: 24px;
}

.card-image {
  width: 125px;
  height: 168px;
  border-radius: 16px;
  margin-right: 16px;
}

.card-description {
  margin: 0 ;
}

.card-location {
  display: flex;
}

.card-dates {
  font-weight: 300;
  font-family: Verdana;
}
